* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: white;
}

.navcontents {
    display: flex;
    justify-content: space-between;
    background-color: #804298;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 1;


}

a {
    text-decoration: none;
}

.name {
    display: flex;
}

.name h1 {
    color: white;
    padding: 8px;

    font-family: "merriweather";
    font-weight: 500;
    font-size: 30px;
}

.name h1:hover {
    color: blanchedalmond;
}

nav .checkbox {
    display: none;
    font-size: 30px;
    color: gray;
    cursor: pointer;
}

nav input {
    display: none;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 1rem;
    transition: left 0.3s;
}

nav li a {
    padding: 10px;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    font-family: 'merriweather';
    color: white;
    transition: 0.3s;
}

ul li a:hover {
    border-top-color: white;
    border-bottom-color: white;
    color: rgb(241, 164, 177);
}

.about {
    display: flex;
    margin: 50px 0px 0px 0px;
    height: 400px;
    width: 100%;
    background-image: url(back6.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.aboutcontent {
    margin: 20px;

}
.aboutcontent a{
    box-sizing: border-box;
    background-color: #804298;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    top: 30px;

}

.aboutcontent h1,
.aboutcontent p,
.aboutcontent h3{
    color: black;
    max-width: 700px;
    font-family: "merriweather";
    line-height: 2;
}

.aboutcontent h1 span {
    color: #9333ea;
    font-size: 35px;
    font-weight: 600;
    font-family: 'baskervville SC', sans-serif;
}

.photo {
    margin: 40px;
}

#aboutme {
    display: flex;
    margin: 30px 20px;
}

.image {
    box-sizing: border-box;
    width: 400px;
    border-radius: 250px;
    filter: drop-shadow(0 0 15px #9333ea);

}

.edubackground {
    margin-top: 20px;
    max-width: 800px;
    align-items: center;

}

.edubackground h1 {
    color: black;
    margin: 20px;
    font-family: 'baskervville SC', sans-serif;
}

.edubackground p {
    color: black;
    margin: 20px;
    font-family: 'merriweather', sans-serif;
    line-height: 1.5;

}

.education {
    display: flex;

    margin: 20px 0 20px;
}

.education p {
    color: black;
}

.title {
    margin-right: 100px;
    font-size: 20px;
    font-family: "baskervville SC", sans-serif;
    cursor: pointer;
    position: relative;

}

.title::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #9333ea;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.title.activeedu::after {
    width: 60%;
}

.titlecontent {
    display: none;
}

.titlecontent ul li {
    color: black;
    margin: 0 10px 10px 40px;
    line-height: 1.5;
    font-size: 15px;
    font-family:'merriweather',sans-serif ;

}

.titlecontent ul li span {
    color: #9333ea;
    list-style: none;
    font-size: 18px;
}

.titlecontent.activetitle {
    display: block;
}



.contactcontain {
    box-sizing: border-box;
    height: 30vh;
    display: flex;

}

.forminputs {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}

.forminputs input {
    width: 420px;
    height: 50px;
    border: #804298 1px solid;
    outline: none;
    padding-left: 25px;
    font-weight: 700;
    color: #666;
    border-radius: 50px;
}

.forminputs textarea {
    height: 140px;
    width: 430px;
    padding-top: 15px;
    padding: 10px;
    border: #804298 1px solid;
    border-radius: 20px;
}

.forminputs input:hover {
    filter: drop-shadow(0 0 10px #804298);
}

.forminputs button {
    width: 450px;
    height: 50px;
    border: #804298 1px solid;
    border-radius: 25px;
    background: linear-gradient(360deg, #9333ea, white);
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

.call h1 {
    font-family: 'baskervville SC', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 2;


}

.call h1 span {
    font-family: 'merriweather';
    font-size: 20px;
    font-weight: 500;
}
.images img{
    margin: 20px;
    
}

.images h1 {
    color: #804298;
    font-size: 35px;
    font-weight: 600;
    font-family: 'baskervville SC', sans-serif;
    margin: 20px 20px 20px 40px;
}

.images ul {
    margin: 20px;
}

.images ul li {
    margin: 20px 20px 20px 40px;
    line-height: 1.5;
    font-family: 'merriweather', sans-serif;
    font-size: 16px;
}
.mycontact{
    margin-top: 100px;
}
.allcontact {
    margin: 100px 20px;
    display: flex;
    justify-content: space-around;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #804298;
    position: relative;
    top: 100px;
   
}
.footer h3{
    font-family: 'merriweather',sans-serif;
    color: white;
    font-size: 20px;
    font-family: 400;
   margin: 20px;
   padding: 10px;
}


@media screen and (max-width:600px) {
    nav .checkbox {
        display: block;
    }

    .navcontents ul {
        position: absolute;
        width: 60%;
        height: 400px;
        left: -100%;
        top: 50px;
        background: linear-gradient(360deg, #9333ea, rgb(225, 122, 235));
        flex-direction: column;
        justify-content: center;

        gap: 3rem;
    }

    nav #check:checked~ul {
        left: 0;
    }

    ul li a {
        font-size: 1.25rem;
        line-height: 2;
    }

    .checkbox i {
        color: white;
        padding: 10px;
    }

    #aboutme {
        display: block;
    }
    .images img{
        width: 350px;
        height: 300px;
    }

    .allcontact {
        display: block;
    }

    .footer {
        width: 100%;
        height: 70px;
        background-color: #804298;
        position: relative;
        top: 150px;
    }

}